<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center heading">My Trips</h1>
    </div>
  </div>
  <div class="row flexbox">
    <div class=" col">
      <div class="panel panel-default panel-info customize-panel">
        <div class="panel-heading text-center heading"> <h3 class="heading"> Trips I created  </h3> </div>
          <div class="panel-body text-justify">
            <table class="table table-borderless table-nonfluid">
              <% @trips.each do |trip| %>
                <tr>
                  <td> <%= link_to trip.name.capitalize, trip%> </td>
                  <td> <%= link_to trip_expenses_path(trip), class: 'btn'  do %>
                        <span class="glyphicon glyphicon-usd"></span>&nbsp;
                       <% end %>
                  </td>

                </tr>
              <% end %>
            </table>

          </div>
      </div>
    </div>
    <div class="col">
      <div class="panel panel-default panel-info">
        <div class="panel-heading text-center heading"> <h3 class="heading">  Trips Invited to </h3> </div>
          <div class="panel-body text-justify ">
            <table class="table table-borderless table-nonfluid">
             <% @trips_invited_to.each do |trip| %>
              <tr>
                <td> <%= link_to trip.name.capitalize, trip %> </td>
                <td> <%= link_to trip_expenses_path(trip), class: 'btn'  do %>
                      <span class="glyphicon glyphicon-usd"></span>&nbsp;
                     <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
