<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">All Trips</h1>
      <h4 class="text-center"> <%= link_to "Add trip", new_trip_path %> </h4>
      <% @trips.each do |trip| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading text-justify">
          <%= link_to trip.name.capitalize, trip%>
          </h4>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
