<h1 class="text-center">Welcome To TriPlanner</h1>

<p class="text-justify"> TripIt is a trip planning application which helps to organize trips by
  inviting friends and creating poll questions about where do they want to go
  and what they want to do in a trip. There is also a polling feature, that helps
  to decide based on number of votes. After a trip, it also helps in expense
  determination among friends. It calculates each person share based on how much
  they spent on the trip.
</p>
