<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You are invited to participate in this trip. Please Sign up for more information.
    </p>
    <p> Happy Planning and Tripping!!! </p>

    <p>
      Thanks,<br/>
      Admin
    </p>
  </body>
</html>