<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello, </br>
      You are invited to participate in this trip <%= @trip.name %>.
      Trpit will help you to discuss about this trip, build an itinerary, and share group expenses.
    </p>
    <div class="panel panel-default panel-info">
      <div class="panel-heading text-center">
         Are you in?
      </div>
      <div class="panel-body">
        <div class="btn-group">
          <%= link_to "Yes", accept_invite_url(@invite), method: :get %>
          <%= link_to "No!", decline_invite_url(@invite) %>
       </div>
      </div>
    </div>

    <p> Happy Planning and Tripping!!! </p>

    <p>
      Thanks,<br/>
      <%= @invite.sender.name %>
    </p>
  </body>
</html>
