<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You are invited to participate in a trip to <%= @trip.name %> this. Click <%=link_to "here", trip_url(@trip) %>. to view the trip details! Before clicking please sign in the application.
    </p>
    <p> Happy Planning and Tripping!!! </p>

    <p>
      Thanks,<br/>
      <%= @sender.name %>
    </p>
  </body>
</html>