/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Lora:400,700,400italic);


// Typography
$font-family-main: 'Lora', serif;
$font-family-headings: 'Gorditas', serif;

// Typography colors
// Header colors
$header-link-color: #FAEBD7;
$dark-gray-font: #2e3439;
$page-background: #0074cf;
$panel-background: #fff;
$panel-heading-background: #f8eabf ;


body{
  font-family: $font-family-main, sans-serif;
  line-height: normal;
  color: $dark-gray-font;
  background: $page-background;
  margin: 0;
  overflow: hidden;
  height:100%;

  #wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -190px;
  /* Pad bottom by footer height */
  padding: 0 0 190px;
}

  a{
    color: $dark-gray-font;
    font-size: 2rem;
    font-family: $font-family-headings;
  }

  .heading{
    color: $header-link-color;
  }
  
  .navbar-custom{
    margin-bottom: 0px;
    padding: 20px, 25px;
    background: url(/assets/beach-background-header.jpg) no-repeat center center fixed;
    border: transparent;
    height: 100px;
    .navbar-header{
      padding-top: 20px;
      .logo_img{
       width: 70%;
       height: 70%
       }
    }

    .navbar-nav{
      padding-top: 20px;
      li a{
        color: $header-link-color;
        font-size: 2rem;
        font-family: $font-family-headings;
      }
    }

    .navbar-right  li {
      margin-right: 5px;
      padding-right: 10px;
        .blue{
          color: #0068c1;
        }

        .orange{
          color: #ff6600;
        }
    }
  }


  .custom-panel{
    border-radius: 5px;
    background-color: white;
    max-height: 500px;
    overflow-y:scroll;
    border: transparent !important;
    .panel-heading {
      background-color: $panel-heading-background!important;
      color: $dark-gray-font;
    }

    .panel-body{
      color: $dark-gray-font !important;
      background-color: $panel-background !important;
    }
  }

  .custom-footer{
    display: flex;
    align-items: center;
    background-image: url(footer.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    height: 190px;
    border: transparent !important;
  }

}

.progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}

.table th, .table td {
     border-top: none !important;
     border-style: none;
     color: $dark-gray-font;
 }

 .table-nonfluid {
   width: auto !important;
   margin: auto;
}

//  To make equal size columns
.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
// --------------------------
