<footer class="navbar navbar-default navbar-fixed-bottom custom-footer">
  <div class="container-fluid text-center">
    <div>
      <span>Anitha Palanisamy © 2015</span>
    </div>
  </div>
</footer>
